<div class="form-group">
    <label for="nombre">Nombre</label>
    <input value="<%= tema.nombre %>" type="text" name="nombre" id="nombre" class="form-control">
</div>

<div class="form-group">
    <label for="descripcion">Descripción</label>
    <input value="<%= tema.descripcion %>" type="text" name="descripcion" id="descripcion" class="form-control">
</div>

<div class="form-group">
    <label for="contenido">Contenido</label>
    <textarea name="contenido" id="contenido" cols="30" rows="10" class="form-control"><%= tema.contenido %></textarea>
</div>

<button type="submit" class="btn btn-primary">
    Guardar
</button>

<a href="/tema" class="btn btn-link">Cancelar</a>
