<div class="jumbotron p-4 p-md-5 text-white rounded" style="background-color: #007bff;">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Bienvenido a Tu tutor</h1>
    <p class="lead my-3">Aquí puedes aprender todo sobre cálculo diferencial. El cálculo diferencial es una parte del cálculo infinitesimal y del análisis matemático que estudia cómo cambian las funciones continuas según sus variables cambian de estado.</p>
    <p class="lead mb-0"><a href="/tema" class="btn btn btn-outline-light font-weight-bold">Comienza ya...</a></p>
  </div>
</div>